encoding_list = UTF-8
system.umask.set = 002
system.file.max_size.set = -1

## RPC connection
execute.nothrow = rm,/run/php/.rtorrent.sock
network.scgi.open_local = /run/php/.rtorrent.sock
schedule = socket_chmod,0,0,"execute=chmod,0660,/run/php/.rtorrent.sock"
schedule = socket_chgrp,0,0,"execute=chgrp,swerp,/run/php/.rtorrent.sock"

# Instance layout (base paths)
method.insert = cfg.basedir,    private|const|string, (cat,"/data/")
method.insert = cfg.watch,      private|const|string, (cat,(cfg.basedir),"rtwatch/")
method.insert = cfg.download,   private|const|string, (cat,(cfg.basedir),"downloading/")
method.insert = cfg.complete,   private|const|string, (cat,(cfg.basedir),"complete")
method.insert = cfg.logs,       private|const|string, (cat,"/logs/rtorrent/")
method.insert = cfg.logfile,    private|const|string, (cat,(cfg.logs),"rtorrent-",(system.time),".log")

# Tracker-less torrent and UDP tracker support
# (conservative settings for 'private' trackers, change for 'public')
dht.mode.set = disable
protocol.pex.set = no
trackers.use_udp.set = no
trackers.numwant.set = 100

# Peer settings
# Maximum and minimum number of peers to connect to per torrent while downloading (applies to the 'slowup' throttle group). (min_peers, max_peers)
throttle.min_peers.normal.set = 99
throttle.max_peers.normal.set = 100
throttle.min_peers.seed.set = -1
throttle.max_peers.seed.set = -1

# Maximum number of simultanious uploads per torrent. (upload slots!) (applies to the 'slowup' throttle group). (max_uploads)
throttle.max_uploads.set = 15


# Maximum number of simultaneous downloads and uploads slots (global slots!) (max_downloads_global, max_uploads_global)
throttle.max_downloads.global.set = 300
throttle.max_uploads.global.set   = 300

# Listening port for incoming peer traffic (fixed; you can also randomize it)
network.port_range.set = 49123-49123
network.port_random.set = no

# Limits for file handle resources, this is optimized for
# an `ulimit` of 1024 (a common default). You MUST leave
# a ceiling of handles reserved for rTorrent's internal needs!
network.http.max_open.set = 150
network.max_open_files.set = 65000
network.max_open_sockets.set = 600
network.http.dns_cache_timeout.set = 25
encryption = allow_incoming,try_outgoing,enable_retry

# default for network.xmlrpc.size_limit : 524288 (xmlrpc_size_limit)
network.xmlrpc.size_limit.set = 2M

# Memory resource usage (increase if you have a large number of items loaded,
# and/or the available resources to spend)
pieces.memory.max.set = 8000M
system.file_allocate.set = yes
pieces.preload.type.set = 2
pieces.preload.min_size.set = 262144
pieces.preload.min_rate.set = 5120

# Downloading directory default
directory.default.set = (cat,(cfg.basedir),"downloading")

# Session
session = /config/rtorrent/rtorrent_sess


download_rate = 0
upload_rate = 0

bind = 0.0.0.0

check_hash = no
use_udp_trackers = yes

print = (cat,"directory.default ",(directory.default))
print = (cat,"Complete folfer ",(cfg.complete))
print = (cat,"Logging to ",(cfg.logfile))
log.open_file = "log", (cfg.logfile)
log.add_output = "info", "log"

# Watch a directory for new torrents, and stop those that have been deleted.
schedule = watch_directory_0,5,5,"load.start=/data/rtwatch/*.torrent"
schedule = watch_directory_1,5,5,"load.start=/data/rtwatch/tvshows/*.torrent,d.set_custom1=tvshows,d.set_directory=/data/complete/tvshows"
schedule = watch_directory_2,5,5,"load.start=/data/rtwatch/movies/*.torrent,d.set_custom1=movies,set_directory=/data/complete/movies"
schedule = watch_directory_3,5,5,"load.start=/data/rtwatch/music/*.torrent,d.set_custom1=music,set_directory=/data/complete/music"
#schedule = tied_directory,6,5,start_tied=
schedule = untied_directory,5,5,stop_untied=

# Close torrents when diskspace is low.
schedule = low_diskspace,5,60,close_low_diskspace=100M

# Add new method to get finished dir, and move files based on labels
system.method.insert = d.get_finished_dir,simple,"cat=/data/complete/,$d.get_custom1="
system.method.set_key = event.download.finished,move_complete,"d.set_directory=$d.get_finished_dir=;execute=mkdir,-p,$d.get_finished_dir=;execute=mv,-u,$d.get_base_path=,$d.get_finished_dir="


execute = {sh,-c,/usr/bin/php7 /var/www/public/rutorrent/php/initplugins.php swerp &}
