encoding_list = UTF-8
system.umask.set = 002
system.file.max_size.set = -1

## RPC connection
execute.nothrow = rm,/run/php/.rtorrent.sock
network.scgi.open_local = /run/php/.rtorrent.sock
schedule = socket_chmod,0,0,"execute=chmod,0660,/run/php/.rtorrent.sock"
schedule = socket_chgrp,0,0,"execute=chgrp,swerp,/run/php/.rtorrent.sock"

## Logs
log.open_file = "rtorrent", /logs/rtorrent/rtorrent.log
log.add_output = "info", "rtorrent"

throttle.min_peers.normal.set = 10
throttle.max_peers.normal.set = 30
throttle.min_peers.seed.set = -1
throttle.max_peers.seed.set = -1
throttle.max_uploads.set = 30
throttle.max_uploads.global.set = 0
throttle.max_downloads.global.set = 3

pieces.sync.always_safe.set = no
pieces.sync.timeout.set = 600
pieces.sync.timeout_safe.set = 900
pieces.memory.max.set = 6G
pieces.preload.type.set = 1
pieces.preload.min_size.set = 262144
pieces.preload.min_rate.set = 5120

network.send_buffer.size.set = 1M
network.receive_buffer.size.set = 131072
network.max_open_files.set = 2048
network.http.max_open.set = 512

throttle.global_down.max_rate.set_kb = 0
throttle.global_up.max_rate.set_kb = 0
download_rate = 0
upload_rate = 0

directory = /data/downloading
session = /config/rtorrent/rtorrent_sess


bind = 0.0.0.0
port_range = 49123-49123
port_random = no
check_hash = no
use_udp_trackers = yes
encryption = allow_incoming,try_outgoing,enable_retry
dht = disable
dht_port = 6881
peer_exchange = no


schedule = watch_directory_1,5,5,"load.start=/data/rtwatch/*.torrent"
schedule = low_diskspace,5,60,close_low_diskspace=100M

execute = {sh,-c,/usr/bin/php7 /web/rutorrent/php/initplugins.php swerp &}
