scgi_port = 0.0.0.0:5000
encoding_list = UTF-8
system.umask.set = 002
log.open_file = "rtorrent", /config/log/rtorrent/rtorrent.log
log.add_output = "warn", "rtorrent"
min_peers = 75
max_peers = 250
max_uploads = 1200
download_rate = 0
upload_rate = 0
directory = /data/downloading
session = /config/rtorrent/session
schedule = low_diskspace,5,60,close_low_diskspace=100M
bind = 0.0.0.0
port_range = 49123-49123
check_hash = no
use_udp_trackers = yes
encryption = allow_incoming,try_outgoing,enable_retry
dht = off
peer_exchange = no
dht_port = 6881

execute = {sh,-c,/usr/local/bin/php /web/rutorrent/php/initplugins.php swerp &}
